.head
  %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu+Condensed", :rel => "stylesheet"}
.container
  .egg
    .albumen
      .yolk
        .eyebrow1
          .eyebrowinner
        .eyebrow2
          .eyebrowinner
        .whiteLine
          .whiteLineInner
        .eye.eye1
        .eye.eye2
        .mouth
  .text
    eggmojis